/* Generals */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

/* Layout */

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    background-color: #221F1F;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100px;
}

.main {
    flex-grow: 1;
}

/* Utilities */

.btn {
    padding: 4px;
}

.input {
    padding: 4px;
    width: 200px;
}

i.fas,
i.far { /* jQuery */
    color: yellow;
}

/* Header */

.logo {
    color: #db0000;
    font-weight: bold;
    font-size: 26px;
}

/* Main */

.result-list {
    display: flex;
    flex-wrap: wrap;
}

.result {
    position: relative;
    width: calc(100% / 5);
    margin-bottom: 20px;
}

.result .poster {
    position: relative;
    z-index: 1;
}

.result .data {
    position: absolute;
    top: 0;
    left: 0;
    width: 342px;
    height: 513px;
    padding: 10px 10px 0;
    background-color: black;
    opacity: 0;
    z-index: 2;
}

.result .data:hover {
    opacity: 1;
}

.result .data .label {
    font-weight: 600;
}

.flag { /* jQuery */
    width: 20px;
    height: auto;
}