* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#app {
    min-height: 100vh;
    width: 100%;
    padding: 30px;
    background-color: #221F1F;
    color: #fff;
}

li {
    margin-left: 15px;
}

.btn {
    padding: 4px;
}

.input {
    padding: 4px;
    width: 200px;
}

.result {
    padding-top: 10px;
}

.flag {
    width: 20px;
    height: auto;
}


